{% extends "base.html" %}

{% block content %}
<h1>Example Page Content Block</h1>
<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>{{ form.field }}</p>
  <p>{{ form.submit() }}</p>
  </form>
{% endblock %}